.Cbody-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 2%;
  }
  
  .right-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 15px;
    padding-left: 5%;
  }
  
  .right-container h1 {
    font-size: 2.6rem;
    padding: 5px;
  }
  
  .right-container p {
    font-size: large;
    margin-top: -5px;
  }
  
  .course-info-min {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .course-info-min span {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
  }
  
  .left-container {
    display: flex;
    flex-direction: column;
    width: 24%;
    margin-top: 5%;
    border: none;
    border-radius: 20px;
    background-color: black;
    margin-left: 25px;
    padding: 20px;
  }
  
  .left-container img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
  
  .left-container h1 {
    font-size: 2.2rem;
    color: white;
    margin-top: 20px;
    text-align: center;
  }
  
  .add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 80%;
    align-self: center;
    border-radius: 30px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    background-color: #ff0000;
    color: white;
    margin-top: 5px;
    text-align: center;
  }
  
  .add-btn:hover {
    opacity: 0.8;
  }
  