.settings-container{
    width: 100%;
    font-size: larger;
}

.settings-container h1{
    color: red;
}

.settings-container ul{
    padding: 0%;
    margin-left: 20px;
    list-style-type: none;
}

.settings-container ul .lrow{
    margin-bottom: 10px;
}

.lrow span{
    display: flex;
    align-items: center;
    justify-content:start;
    width: 50%;
}

.lrow span h3{
    color: red;
}

.lrow span p{
    margin-left: 10px;
    font-size: 20px;
}

.lrow button{
    text-align: center;
    margin-right: 20px;
    padding:10px 20px;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.lrow .modi{
    border-radius: 20px;
    background-color: black;
    border-radius: 1px solid black;
}

.lrow  .modi:hover{
    padding: 15px;
    background-color: red;
    border: 1px solid red;
    transition: all 0.3s ease;
}

.lrow .modp{
    border-radius: 20px;
    background-color: red;
    border: 1px solid red;
}

.lrow  .modp:hover{
    padding: 15px;
    background-color: black;
    border: 1px solid black;
    transition: all 0.3s ease;
}